@page "/"

<PageTitle>Inicio - PROACTIVO</PageTitle>

<h1>Bienvenido a PROACTIVO</h1>

Esto es un app que tiene como funcion para el empleador de encontrar y visualizar la lista de personas que pueden aplicar para los cargos requeridos para su compañia.


